#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-content ion-toolbar {
  --background: translucent;
}

.home-page-wrapper {
  ion-card {
    text-align: center;
  }
}

.animation-wrapper {
  margin-top: 20px;
}

.home-page-footer {
  ion-title {
    font-size: 11px;
    color: #666;
  }
}

.last-update {
  font-size: 11px;
  color: lighten($color: #666, $amount: 15%);
}

.home-page-card {
  max-width: 500px;
  box-shadow: none;
  border: 1px solid #e5e5e5;
  margin: 20px auto;
  @media (max-width: 767px) {
    margin: 20px 15px;
  }
}
